include mixins/form-helpers
#narrow
  h3 Please enter your email and password
    
  form(method='post', action='/')
    div
    .item
      label(for='username') username
      input(name='username', type='text')
    .item
      label(for='password') password
      input(name='password', type='password')
    .buttons
      input.button(type='submit', value='login')